<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<style>
    .footer {
        background-color: whitesmoke; /* Light background color */
        color: #232a34; /* Dark text color */
        padding: 20px 0;
    }
    .footer_menu ul {
        list-style-type: none;
        padding: 0;
    }
    .footer_menu ul li {
        display: inline;
        margin: 0 10px;
    }
    .footer_menu ul li a {
        color: #232a34; /* Dark text color for links */
        text-decoration: none;
    }
    .footer_menu ul li a:hover {
        text-decoration: underline;
    }
    .footer_copyright {
        margin-top: 15px;
        font-size: 14px;
    }
    .footer_profile ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 40px;
    }
    .footer_profile ul li {
        display: inline;
        margin: 0 5px;
    }
    .footer_profile ul li a {
        color: #232a34; /* Dark color for icons */
        font-size: 18px;
        text-decoration: none;
    }
    .footer_profile ul li a:hover {
        color: #007bff; /* Change color on hover */
    }
</style>

<div class="footer">
    <div class="container">        
        <div class="row text-center">                        
            <div class="col-lg-12 col-sm-12 col-xs-12">
                                        
                <div class="footer_copyright">
                    <p>© 2024 Baha. All Rights Reserved.</p>
                </div>    
                <div class="footer_profile">
                    <ul>
                        <li><a href="https://www.facebook.com/baha.othman.73/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/Baha2-00"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/baha2_akayleh/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/baha-al-akayleh-374082254"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>                        
            </div><!--- END COL -->                            
        </div><!--- END ROW -->                    
    </div><!--- END CONTAINER -->
</div>
